<h1>Create a booking</h1>

<%= link_to "Back to Band", band_path(@band) %>

<%= simple_form_for [@band, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit %>
<% end %>

<% @band.availabilities.each do |availability| %>
  <p>Start time: <%= availability.start_time %></p>
  <p>End time: <%= availability.end_time%></p>
  <br>
<% end %>
