
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Insert restaurant name" %>
    <%= f.input :address, placeholder: "Insert restaurant address" %>
    <%= f.input :phone_number, placeholder: "Insert restaurant phone number" %>
    <%= f.input :category, collection: Restaurant::TYPE %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary btn" %>
  </div>
<% end %>
