<div class="card-trip">

  <%= cl_image_tag @band.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h1><%= @band.name %></h1>
      <p><%= @band.genre %></p>
      <p><%= @band.description %></p>
    </div>
  </div>
</div>

<%= link_to "View Availability", band_availabilities_path(@band) %>

<div>
INSERT BOOKING FORM
</div>
<br><br>
<div>
  <%= link_to "Back to bands", bands_path %>
  <%#= link_to "Edit this band", edit_band_path(@band) %>
</div>
