<h1><%= @band.name %></h1>

<h3>Band Owner: <%= @band.user.first_name%> <%=  @band.user.last_name %></h3>
<h3>Band Description: <%= @band.description %></h1>
<h3>Band Genre: <%= @band.genre %></h1>
<%= image_tag @band.photo_url, height: 400, width: 400, crop: :fill%>
