<p style="color: green"><%= notice %></p>

<div class="card-trip">

  <img src="<%= @band.photo_url %>" style="max-width: 400px" />
  <div class="card-trip-infos">
    <div>
      <h1><%= @band.name %></h1>
      <p><%= @band.genre %></p>
      <p><%= @band.description %></p>
    </div>
  </div>
</div>

<div class="d-none">
INSERT BOOKING FORM
</div>
<br><br>
<div>
  <%= link_to "Back to bands", bands_path %>
  <%= link_to "Book this band", new_band_booking_path(@band) %>
  <%#= link_to "Edit this band", edit_band_path(@band) %>
</div>
