<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div>
        <%= link_to bands_path do %>
          <i class="fa-solid fa-arrow-left text-dark"></i>
        <% end %>
      </div>
      
      <div class="card-trip">

        <%= cl_image_tag @band.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h1><%= @band.name %></h1>
            <p><%= @band.genre %></p>
            <p><%= @band.description %></p>
          </div>
        </div>
      </div>

      <%= link_to "Edit Availability", band_availabilities_path(@band) %>
       <div>
        <%= link_to "Book this band", new_band_booking_path(@band), class: "btn btn-dark w-100" %>
        <%#= link_to "Edit this band", edit_band_path(@band) %>
      </div>



      <%# <div class="d-none">
      INSERT BOOKING FORM
      </div> %>
      <br><br>
  
    </div>
  </div>
</div>